*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the screen */
}